  .hero-body {
    background-image: url(../img/stranded-pine.jpeg);
    background-size: cover;
    font-family: 'Helvetica';
    color: black;
  }
  .title {
    color: black;
    text-align: center;
    font-family: 'Helvetica';
  }
  .box{
    position: fixed;
    left:38%;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: rgba(197, 99, 7, 0.945);
    border: none;
    border-radius: 5px;
  }
  #logForm {
    background-color: #ffdd57;
}
  #regForm {
    background-color: #ffdd57;
}
<?php  
if(isset($_POST['submit_btn']))  { ?> 
    <p>Thanks<strong>
        
        <p> You are booking <strong>


<?php echo $_POST['name']; ?>
<?php echo $_POST['surname']; ?></strong></p>
<?php
                            $date1 = strtotime($_POST['date1']);  
                            $date2 = strtotime($_POST['date2']);   
                            $diff = abs($date2 - $date1);  

                            $years = floor($diff / (365*60*60*24));

                            $months = floor(($diff - $years * 365*60*60*24)
                                                        / (30*60*60*24));

                            $days = floor(($diff - $years * 365*60*60*24 - 
                                        $months*30*60*60*24)/ (60*60*24)); 
                            echo $days. "</strong> nights at "; 
                            }  
                            if(isset($_POST['submit_btn'])){
                                $selected_val = $_POST['hotels']; 
                                echo "<strong>" .$selected_val. "</strong>";
                                }
                            ?>

