@font-face {
    font-family: 'FA Sans';
    src: url(../fonts/The_Fourth_Avenue_Sans.ttf);
}
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica.ttf);
}

.hero-body {
    background-image: url(../img/sea-beach-holiday-vacation.jpg);
    line-height: 30px;
    background-size: cover;
    font-family: 'Helvetica'
}
.title {
    position: absolute;
    top: 20px;
    left: 85px;
    font-family: 'FA Sans';
    letter-spacing: 1px;
}
.column {
    position: absolute;
    left: 55px;
    bottom: 75px;
}
#box1{
    position: absolute;
    left:70%;
  }
#box2{
    position: absolute;
    left:38%;
  }