@font-face {
    font-family: 'FA Sans';
    src: url(../fonts/The_Fourth_Avenue_Sans.ttf);
}

.hero-body {
    background-image: url(../img/cup_ocean_sand.jpg);
}
.title {
    position: absolute;
    top: 40px;
    left: 60px;
    font-family: 'FA Sans';
    letter-spacing: 1px;
}
.column {
    position: relative;
    left: 35px;
    bottom: 50px;
}
